<div class="container-fluid">
    <div class="row" width="100%">
        <div class="col-md-6  mt-5">
            <input name="txtBuscar" [(ngModel)]="buscar" (keyup)="buscador( )" class="form-control mr-2" type="search" placeholder='{{ "FORM.FIELD.SEARCH" | translate}}' aria-label="Search">
            <cdk-virtual-scroll-viewport appendOnly itemSize="30" class="viewport">
                <div class="row row-cols-auto">
                    <div class="col-md-4 animate__animated animate__fadeIn" *ngFor="let item of datosCompeticiones">

                        <img [src]="''+item.urlpic | noimage:'logo'" matTooltip={{this.item.id}} (click)="selecciona(this.item)" class="img-fluid poster">
                        <div>
                            <p (click)="selecciona(this.item)">{{ item.name }}</p>
                        </div>

                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div class="col-md-6 mt-5">
            <form autocomplete="off" [formGroup]="forma">
                <div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">{{ "FORM.FIELD.COMPETITION" | translate}}</label>
                        <div class="col-10">
                            <input class="form-control" type="text" formControlName="nombre" placeholder='{{ "FORM.FIELD.NAME" | translate}}' [(ngModel)]="competition.name" oninput="javascript:this.value=this.value.toUpperCase()">
                            <small *ngIf="this.forma.controls['nombre'].invalid && this.forma.controls['nombre'].touched" class="form-text text-danger">{{ "FORM.ERROR.NAME" | translate}}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2 col-form-label">{{ "FORM.FIELD.ASSOCIATION" | translate}}</label>
                        <div class="col-10">

                            <input class="form-control" type="text" formControlName="federacion" placeholder='{{ "FORM.FIELD.ASSOCIATION" | translate}}' [(ngModel)]="competition.association" oninput="javascript:this.value=this.value.toUpperCase()">
                            <small *ngIf="this.forma.controls['federacion'].invalid && this.forma.controls['federacion'].touched" class="form-text text-danger">{{ "FORM.ERROR.ASSOCIATION" | translate}}</small>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">{{ "FORM.FIELD.COUNTRY" | translate}}</label>
                    <div class="col-10">

                        <mat-select class="form-control" formControlName="pais" [disabled]="datosCountries.length === 0" [(ngModel)]="competition.country">
                            <mat-option value="">{{ "FORM.FIELD.SELECT.COUNTRY" | translate}}</mat-option>
                            <mat-option *ngFor="let pais of datosCountries" [value]="pais.cca2">
                                {{pais.translations.spa.common}}
                            </mat-option>
                        </mat-select>
                        <small *ngIf="this.forma.controls['pais'].invalid && this.forma.controls['pais'].touched" class="form-text text-danger">{{ "FORM.ERROR.COUNTRY" | translate}}</small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2 col-form-label">{{ "FORM.FIELD.ESTABLISHED" | translate}}</label>
                    <div class="col-10">
                        <input class="form-control" formControlName="fundacion" type="date" [(ngModel)]="competition.established">
                        <small *ngIf="this.forma.controls['fundacion'].invalid && this.forma.controls['fundacion'].touched" class="form-text text-danger">{{ "FORM.ERROR.ESTABLISHED | translate}}</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">{{ "FORM.FIELD.PICTURE" | translate}}</label>
                    <div class="col-10">
                        <input class="form-control" type="text" formControlName="logo" placeholder='{{ "FORM.FIELD.PICTURE" | translate}}' [(ngModel)]="competition.urlpic">
                        <small *ngIf="this.forma.controls['logo'].invalid && this.forma.controls['logo'].touched" class="form-text text-danger">{{ "FORM.ERROR.IMAGE" | translate}}</small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col" style="text-align:'center';" [hidden]="competition == null || competition.urlpic === ''">
                        <img [src]="''+competition.urlpic | noimage:'logo'" matTooltip={{competition.id}} class="img-fluid tarjeta">
                    </div>
                </div>
                <div class="form-group row mt-5">
                    <div class="col"></div>
                    <div class="input-group col">
                        <button mat-raised-button color="primary" (click)="guardar()">
                            {{ "FORM.FIELD.SAVE" | translate}}
                        </button>
                    </div>
                    <div class="col"></div>
                    <div class="input-group col">
                        <button mat-raised-button color="primary" (click)="reset()">
                            {{ "FORM.FIELD.NEW" | translate}}
                        </button>
                    </div>
                    <div class="col"> </div>
                </div>
            </form>

        </div>
    </div>
</div>